<section id="contacto" class="seccion contacto">

	 <div class="row">

		  <header class="col-lg-12 text-center cabecera_seccion">
				<h2>CONTACTO</h2>
				<h3> <span>&lt;</span> ¿Qué estás buscando? <span>&gt;</span></h3>
		  </header>

		  <div class="col-xs-12 col-lg-12 entradilla">
				<div [innerHTML]="contact | domseguro"></div>
				<!-- <p>Así que estás <strong>buscando a alguien</strong> con un pefil parecido al mío</p>

				<p>De antemano quiero que sepas que me encanta trabajar en equipo, compartir ideas y conocimientos, ayudar a mis compañeros y, por supuesto, que me ayuden (es la mejor manera de aprender).
				</p>

				<p>Intento evitar los ambientes hostiles, de competitividad. Calentar la silla no se me da bien. Suelo estar sentada solo cuando trabajo, perder el tiempo puedo hacerlo en casa ;-) </p>
				<p>Si crees que <span><strong>puedo aportar algo</strong></span> al proyecto que tienes entre manos, no dudes en ponerte en contacto conmigo: </p> -->

				<p class="email">mariolamoreno@hotmail.es</p>
				<p class="telefono"> 667637090 </p>
		  </div>

	 </div><!-- fin row de contacto-->
</section>
