<section id="proyectos" class="seccion proyectos">

	 <div class="row">
		  <header class="col-lg-12 text-center cabecera_seccion">
				<h2>PROYECTOS</h2>
				<h3> <span>&lt;</span> front-end <span>/</span>motion <span>&gt;</span></h3>
		  </header>
	 </div>


	 <!-- <div class="col-xs-12 col-lg-12  entradilla">
	 	 <p>He trabajado en proyectos de todo tipo tanto de animación y motion graphics como de programación del lado cliente. Me siento cómoda trabajando en Mac, Window, Linux...</p>

	 	 <p>En cuanto grafismo y animación he trabajado con el paquete de Adobe(photoshop, illustrator, after effects, premiere, audition...), con Autodesk/Discret, Avid...
	 	 </p><p>En desarrollo web, he tenido ocasión de trabajar con distintas API de HTML5, animación de svg, canvas, webworker, websockets</p>

	 	 <p>Soy Licenciada en Comunicación Audiovisual y actualmente particito en proyectos de desarrollo web y vídeo con diferentes tecnologías entorno al ecosistema de
	 		  <strong>javaScript</strong>.,¡En constante evolución y aprendizaje!
	 	 </p>
	 </div> -->





	 <div class="row">
		  <!-- COLUMNA DE PROYECTO -->
		  <div *ngFor="let proyecto of proyectos; let i = index" class="col-sm-6 col-lg-4">
				<a [routerLink]="getRoute(proyecto)" class="proyecto {{proyecto.tipo}}">
					 <figure>
						  <img [src]="proyecto?.imagen_home">
						  <figcaption>
							   <span>{{ proyecto?.nombre }}</span>
						  </figcaption>
					 </figure>
				</a>

		  </div>
		  <!-- FIN DE COLUMNA  -->
	 </div><!-- fin row de proyecto-->




</section>
