<section id="quien_soy" class="seccion quien_soy">

	 <div class="row">
		  <header class="col-lg-12 text-center cabecera_seccion">
				<img src="assets/img/logo.png" alt="logo" class="logo_central">
				<h2>DESARROLLO WEB <span>&amp;</span> VIDEO</h2>
				<div class="datos">
					 <h3>MARIOLAMORENO@HOTMAIL.ES /667637090</h3>
					 <h3>MADRID, ESPAÑA</h3>
				</div>
		  </header>
	 </div>

	 <div class="row">
		  <div class="col-xs-12 col-lg-4 text-center">
				<div class="row">
					 <div class="cargo col-xs-6 col-sm-6 col-lg-12 align-self-center">
						  <p><span>&lt;</span>FRONT END</p>
						  <p>AND VIDEO</p>
						  <p>DEVELOPER<span>&gt;</span></p>
					 </div>


					 <div *ngIf="pdf" class="curri col-xs-6 col-sm-6 col-lg-12">
						 <a [href]="pdf" target="_blank">
							 <img src="assets/img/curri.png" alt="Icono Curriculum align-self-center">
							 <p>CURRÍCULUM</p>
							 <P>Mi trayectoria</P>
						 </a>
					 </div>


				</div>

		  </div>

		  <div class="col-xs-12 col-lg-8  entradilla" [innerHTML]="aboutMe | domseguro">
		  </div>
	 </div>
	 <div class="row iconos_marcas">
		  <div class="col-xs-12 text-center">
				<div></div>
				<img class="ico-tooling" src="assets/icos_marcas/html5.png" data-tootip="Tooltip on top" alt="Html5">
				<img src="assets/icos_marcas/css3.png" alt="CSS3">
        <img src="assets/icos_marcas/javascript.png" alt="JavasScript">
				<img src="assets/icos_marcas/react.png" alt="React">
				<img src="assets/icos_marcas/nextjs.png" alt="Next js">
				<img src="assets/icos_marcas/angular.png" alt="Desde Angular 2">
				<img src="assets/icos_marcas/vue.png" alt="Vue">
				<img src="assets/icos_marcas/typescript.png" alt="Typescript">
				<img src="assets/icos_marcas/rxjs.png" alt="Rxjs">
				<img src="assets/icos_marcas/amp.png" alt="AMP">
				<img src="assets/icos_marcas/materialui.png" alt="Material UI">
				<img src="assets/icos_marcas/bootstrap.png" alt="Bootstrap">
				<img src="assets/icos_marcas/sass.png" alt="Sass">
				<img src="assets/icos_marcas/npm.png" alt="npm">
				<img src="assets/icos_marcas/webpack.png" alt="webpack">
				<img src="assets/icos_marcas/gulp.png" alt="gulp">
				<img src="assets/icos_marcas/git.png" alt="git">
				<img src="assets/icos_marcas/svg.png" alt="Animaciones svg">
				<img src="assets/icos_marcas/avid.png" alt="Avig">
				<img src="assets/icos_marcas/ae.png" alt="After Effects">
				<img src="assets/icos_marcas/ps.png" alt="Photoshop">
				<img src="assets/icos_marcas/pr.png" alt="Premiere">
				<img src="assets/icos_marcas/ai.png" alt="Illustrator">
				<img src="assets/icos_marcas/audition.png" alt="Audition">
		  </div>
	 </div>
</section>
